<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>武科大ESI论文统计站点Connor</title>
{#    <link href="/static/css/indexstyle.css" type="text/css" rel="stylesheet">#}
</head>
<frameset rows="60,27,*" cols="*" frameborder="NO" border="0" framespacing="0">
  <frame name="topFrame" src="../topFrame/" noresize target="contents" scrolling="no">
  <frame name="topFrame1" src="../colFrame/" noresize scrolling="no">
  <frameset id="centerFrame" name="centerFrame" cols="160,10,*" framespacing="0">
      <frame name="MenuFrame" src="../MenuFrame/" scrolling="no" noresize>
      <frame name="pushRLFrame" src="../pushRLFrame/" scrolling="no" noresize>
      <frame name="PageFrame" src="../PageFrame/" scrolling="yes">
  </frameset>
</frameset>
</html>