<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/MenuFrame.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <style>
        .tree dd .list li a em{width:22px;height:24px;background: url(/static/imgs/lefticon.gif) no-repeat 15px 8px;display:inline;float: left;margin-right:1px;}
    </style>
</head>
<body>
<form>
<div class="leftTbg"></div>
{#树形菜单开始#}
<div class="tree">
    <dl id="tree">
        <dt class="close">
            已统计论文
        </dt>
        <dd style="display: none">
            <ul class="list">
                 <li>
                    <a href="../Page_lwzl.html" target="PageFrame">
                      <em></em>论文查询
                    </a>
                </li>
                <li>
                    <a href="../Page_lwtj.html" target="PageFrame">
                        <em></em>10年论文
                    </a>
                </li>
                <li>
                    <a href="../Page_lwtj.html" target="PageFrame">
                        <em></em>本校引用
                    </a>
                </li>
                <li>
                    <a href="../Page_lwtj.html" target="PageFrame">
                        <em></em>学科分类
                    </a>
                </li>
                <li>
                    <a href="../Page_yygx.html" target="PageFrame">
                        <em></em>年度论文引用关系
                    </a>
                </li>
                <li>
                    <a href="../Page_paperofYears.html" target="PageFrame">
                        <em></em>年度发表论文
                    </a>
                </li>
            </ul>
        </dd>
        <dt class="close">
            贡献度分析
        </dt>
        <dd style="display: none">
            <ul class="list">
                <li>
                    <a href="../Page_lwtj.html" target="PageFrame">
                        <em></em>二级单位贡献度
                    </a>
                </li>
            </ul>
        </dd>
        <dt class="close">
            可视化分析
        </dt>
        <dd style="display: none">
            <ul class="list">
                <li>
                    <a href="../Page_lwtj.html" target="PageFrame">
                        <em></em>图
                    </a>
                </li>
                <li>
                    <a href="../Page_lwtj.html" target="PageFrame">
                        <em></em>表
                    </a>
                </li>
                <li>
                    <a href="../Page_lwyp.thml" target="PageFrame">
                        <em></em>全校论文被引频次
                    </a>
                </li>
                <li>
                    <a href="../Page_ComputerScience.html" target="PageFrame">
                        <em></em>计算机学院被引频次
                    </a>
                </li>
            </ul>
        </dd>
    </dl>
</div>
<script language="javascript">
        (function () {
            var tit = $("#tree>dt");
            tit.each(function () {
                var me = $(this);
                var dd = me.next("dd");
                if (dd.length < 1) {
                    me.removeClass("close");
                } else {
                    me.addClass("close");
                    me.bind("click", function () {
                        var index = me.index();
                        if (dd.is(":hidden")) {
                            dd.slideDown(100).siblings("dd").slideUp(100);
                            me.addClass("open").siblings("dt").removeClass("open");
                        } else {
                            dd.slideUp(100);
                            me.removeClass("open");
                        }
                    })
                }
            })
        })()
</script>
</form>

</body>
</html>