<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/tabel.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>论文统计</h1>
    <table class="GridBackColor">
        <tbody>
            <tr class="GridHeadBackColor">
                <td>
                    <a style="width:100px;">评价学期</a>
                </td>
                <td>
                    <a>评价名称</a>
                </td>
                <td>
                    <a>课程编号</a>
                </td>
                <td>
                    <a>课程名称</a>
                </td>
                <td>
                    <a>教师姓名</a>
                </td>
                <td>
                    <a>是否已评价</a>
                </td>
            </tr>
            <tr onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
                <td style="width:100px;">
                    2015-2016-1学期
                </td>
                <td>
                    [计算机研究生] 教学评价
                </td>
                <td>
                    15SY13106
                </td>
                <td>
                    图像处理与机器视觉
                </td>
                <td>
                    徐新
                </td>
                <td>
                    已参加
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>