<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .GridBackColor {
            background-color: #ffffff;
            font-size: 12px;
            line-height: 20px;
            padding-left: 2px;
            padding-right: 2px;
            color: #144263;
            border: #9cd7ff 1px solid;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table class="GridBackColor" cellspacing="0" rules="all" bordercolor="#9CD7FF" border="1" id="dgData" style="background-color:White;border-color:#9CD7FF;font-size:X-Small;width:100%;border-collapse:collapse;">
	<tbody><tr class="GridHeadBackColor" nowrap="nowrap" style="background-color:#C8E1FB;">
		<td nowrap="nowrap" align="center" style="width:100px;"><a href="javascript:__doPostBack('dgData$_ctl1$_ctl0','')">评价学期</a></td><td nowrap="nowrap"><a href="javascript:__doPostBack('dgData$_ctl1$_ctl1','')">评价名称</a></td><td nowrap="nowrap" align="center"><a href="javascript:__doPostBack('dgData$_ctl1$_ctl2','')">课程编号</a></td><td nowrap="nowrap" align="center"><a href="javascript:__doPostBack('dgData$_ctl1$_ctl3','')">课程名称</a></td><td nowrap="nowrap" align="center"><a href="javascript:__doPostBack('dgData$_ctl1$_ctl4','')">教师姓名</a></td><td nowrap="nowrap" align="center"><a href="javascript:__doPostBack('dgData$_ctl1$_ctl5','')">是否已评价</a></td><td align="center">参加评价</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-1学期</td><td nowrap="nowrap">[计算机研究生] 教学评价</td><td nowrap="nowrap" align="center">15SY13106</td><td nowrap="nowrap" align="center">图像处理与机器视觉</td><td nowrap="nowrap" align="center">徐新</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl2_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl2$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-2学期</td><td nowrap="nowrap">[英语六级技巧2班（黄家湖校区）] 教学评价</td><td nowrap="nowrap" align="center">15SX14013</td><td nowrap="nowrap" align="center">英语六级技巧</td><td nowrap="nowrap" align="center">黄朝恒</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl3_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl3$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-1学期</td><td nowrap="nowrap">[矩阵分析1班（黄家湖校区）] 教学评价</td><td nowrap="nowrap" align="center">15SA07003</td><td nowrap="nowrap" align="center">矩阵分析</td><td nowrap="nowrap" align="center">李立清</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl4_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl4$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-1学期</td><td nowrap="nowrap">[计算机研究生] 教学评价</td><td nowrap="nowrap" align="center">15SC13101</td><td nowrap="nowrap" align="center">人工智能与机器学习</td><td nowrap="nowrap" align="center">张晓龙</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl5_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl5$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-2学期</td><td nowrap="nowrap">[计算机15级研究生] 教学评价</td><td nowrap="nowrap" align="center">15SY13109</td><td nowrap="nowrap" align="center">信息安全技术</td><td nowrap="nowrap" align="center">李涛</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl6_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl6$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#C7F8AE">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-2学期</td><td nowrap="nowrap">[计算机15级研究生] 教学评价</td><td nowrap="nowrap" align="center">15SY13111</td><td nowrap="nowrap" align="center">高级计算机网络</td><td nowrap="nowrap" align="center">李俊</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl7_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl7$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-1学期</td><td nowrap="nowrap">[中国特色社会主义理论与实践研究8班（计算机+外国语）] 教学评价</td><td nowrap="nowrap" align="center">15SA51001</td><td nowrap="nowrap" align="center">中国特色社会主义理论与实践研究</td><td nowrap="nowrap" align="center">张英</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl8_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl8$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-1学期</td><td nowrap="nowrap">[科技英语听说11班（学硕B班：计算机+理学）] 教学评价</td><td nowrap="nowrap" align="center">15SA14003</td><td nowrap="nowrap" align="center">科技英语听说</td><td nowrap="nowrap" align="center">吴燕</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl9_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl9$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-1学期</td><td nowrap="nowrap">[科技英语读写8班（学硕B班：计算机+理学）] 教学评价</td><td nowrap="nowrap" align="center">15SA14004</td><td nowrap="nowrap" align="center">科技英语读写</td><td nowrap="nowrap" align="center">邹丽</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl10_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl10$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-2学期</td><td nowrap="nowrap">[计算机15级研究生] 教学评价</td><td nowrap="nowrap" align="center">15SD13103</td><td nowrap="nowrap" align="center">数据挖掘与知识发现</td><td nowrap="nowrap" align="center">张晓龙</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl11_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl11$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-1学期</td><td nowrap="nowrap">[计算机研究生] 教学评价</td><td nowrap="nowrap" align="center">15SD13102</td><td nowrap="nowrap" align="center">现代软件工程学</td><td nowrap="nowrap" align="center">顾进广</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl12_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl12$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr><tr nowrap="nowrap" onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';">
		<td nowrap="nowrap" align="center" style="width:100px;">2015-2016-2学期</td><td nowrap="nowrap">[自然辩证法概论6班（计算机学院+理学院）] 教学评价</td><td nowrap="nowrap" align="center">15SA51002</td><td nowrap="nowrap" align="center">自然辩证法概论</td><td nowrap="nowrap" align="center">管开明</td><td nowrap="nowrap" align="center">已参加</td><td align="center" style="width:10%;">
										<a id="dgData__ctl13_Linkbutton1" href="javascript:__doPostBack('dgData$_ctl13$Linkbutton1','')"><img border="0" align="absbottom" src="../images/edit.gif" alt=""></a>
									</td>
	</tr>
</tbody></table>
</body>
</html>