<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>全文检索</title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">
    <link rel="stylesheet" href="http://media2.chunyuyisheng.com/@/static/pc/pkg/seo/layout/base_aio_b4d1e23.css">
    <link rel="stylesheet" type="text/css" href="http://media2.chunyuyisheng.com/@/static/pc/css/seo/hot_qa_1762cc1.css">
    <script src="//hm.baidu.com/hm.js?c153f37e6f66b16b2d34688c92698e4b"></script><script type="text/javascript" src="http://media2.chunyuyisheng.com/@/static/pc/js/libs/tingyun_00f951b.js"></script>
    <style>
        .hot-qa-user{
            text-decoration: underline;
            color: royalblue;
        }
    </style>
</head>
<body>


	<!--[if lt IE 9]>
	<link rel="stylesheet" href="http://media2.chunyuyisheng.com/@/static/pc/css/seo/ie_pollify_309dc82.css"/>
	<![endif]-->


	 <div class="header-bd ui-grid clearfix">
	<h1 class="logo">
		<a href="/"></a>
	</h1>
	<div class="search-container">
		<form action="/pc/search" autocomplete="off">
			<input class="query" type="text" id="query" name="query" placeholder="骨伤科" value="">
			<input type="hidden" name="version" value="8.3.10">
			<button class="search-btn" type="submit"></button>
		</form>
	</div>

</div>


<ul class="nav-list ui-grid" style="text-align: center; font-size: large; color: #FFFFFF">



检索结果



</ul>

<div class="ui-grid ui-mian clearfix">


	<div class="main-wrap" style="
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
">

		<!--经典问答-->

<div class="hot-qa main-block" style="
">


		<a href="/pc/qa/K1eYSXj6UjCltQlQGKTCxA/" class="hot-qa-item  first " target="_blank">

			<p class="hot-qa-user">6岁宝宝，半米高处跳下，脚背前部肿大。4小时后仍痛。会有骨折危险吗？脚踝关节没事。</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>李金戈</em>
					潍坊市第二人民医院
				</h6>

				<p>骨折可能性很大，建议拍片，72小时内冷敷 敢走路吗 拍片检查</p>
			</div>

		</a>

		<a href="/pc/qa/aXEwmoFBrUQqPKkjE-BbBQ/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">女27岁，自从去年生完孩子半年以后，左腿从外胯就开始疼痛从腰不一按也有反应，是是什么原因</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>柳志远</em>
					湖北省荣军医院
				</h6>

				<p>你好！有没有麻木？ 建议做个腰椎间盘检查看看有无突出 如果没有腰突，那就多见于筋膜炎，多休息，局部热敷，不要受凉，按摩按摩， 还可以理疗，烤灯，针灸等 说明你肌肉目前有炎症应该用力就会疼</p>
			</div>

		</a>

		<a href="/pc/qa/g0vTaauwVLs-686SKkrTqQ/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">为什么我拍颈磁共振的时候他只看出来C3-6轻微向后彭出，但是我拍X片的时候只说是生理曲度稍变直？</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>潘锋</em>
					吉林医药学院附属医院（原:中国人民解放军第四六五医院)
				</h6>

				<p>核磁与X-ray观察的目的不一样，说白了，核磁主要观察间盘组织及神经组织有否病变、损伤，而X-ray主要是观察颈椎骨质、关节结构、序列有无改变。根据你描述的影像报告说明有颈椎病。 可以 颈椎2、3、4、5序列变直，颈6、7序列是正常的。最好做做颈椎牵引，缓解椎旁肌痉挛。 属于脊髓型颈椎病。根据你提供的影像打封闭恐怕没有作用，可以试试介入下臭氧髓核消融，可以将膨出的髓核溶解，从而减轻对脊髓的压迫。忠告你的颈椎病必须认真对待，不然将来进一步压迫脊髓可能会出现截瘫症状。 你最好到三甲以上医院骨科就诊。小医院其它科室对该病认识不够，别耽误了病情。 不用谢，给你看病的医生要比我经验、阅历丰富的多。但你有没有想过深部肌肉为什么会痉挛？我认为还是和平时生活习惯不当导致颈椎负荷过重，颈间盘退变膨出，颈椎生物力学发生改变，同时刺激周围窦椎神经引起肌肉痉挛。所以我觉得病因在于间盘组织变性膨出。你的病情还没有发展到严重的脊髓压迫损害程度，手术治疗目前没有明确的手术指征，而一般人也不可能轻易冒风险做这么大手术。你可以继续保守治疗，生活习惯一定要纠正，这是始因，不然将来真的会很重。</p>
			</div>

		</a>

		<a href="/pc/qa/J0Dnb0gMs-9h_INVREpESA/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">你好,我去年4月份左右从货架上摔下,两侧钢架把肋骨弄断二根,当时也没吃什么太多的恢复药但现在天冷时伤处有些感觉，现在有什么药吃吗？今后这种感觉会加重吗？</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>朱春景</em>
					潍坊寒亭区人民医院
				</h6>

				<p>请问您当时做了怎样的治疗？ 这个现在也不需要吃什么药物了，可以外用点东方活血膏。就是贴贴膏药。 不会的，这个是没有什么后遗症的。</p>
			</div>

		</a>

		<!--<a href="/pc/qa/o0gRIkdi_iXnpab9BZ9IPw/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">我母亲46岁，因干活太多太累，导致颈椎病肩周炎严重，从去年开始右肩膀三角肌的地方开始疼痛，中间吃过一些要都不见好转。主要症状是，不能随意的抬起或者旋转右肩膀，经常像脱臼一样疼痛，但肯定不是脱臼，疼痛剧烈。抬起时疼痛，忍住疼痛依然能抬起来。请问我母亲患有什么具体的疾病，如何进行康复治疗？谢谢</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>冯法博</em>
					北京大学第三医院
				</h6>

				<p>您好，根据您母亲的症状和年龄，初步考虑是肩周炎。 肩周炎最常见于五十岁左右的人，又叫冰冻肩。治疗最重要的是功能锻炼。肩周炎的治疗方法一：双手摸高样姿势锻炼用双手靠墙，上举，像爬墙一样的进行运动，这样可以有效的活动肩关节。02肩周炎的治疗方法二：双手像游泳一样的前后划动，这样坚持锻炼，过一段时间就会有明显的效果了。03肩周炎的治疗方法三：转动肩关节，可以顺时针转几个圈，然后逆时针转几个圈，这样可以有效的活动肩关节，还有就是双手于背部相接，在下面的手尽量的上举，放置于肩胛骨处。另外，如果疼的厉害可以做封闭治疗，或者理疗，针灸，辅助吃一些扶他林或者芬必得。</p>
			</div>

		</a>

		<a href="/pc/qa/-ukGOIrTx89sqD_xWjLj7g/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">椎间盘膨出是怎么为事？用什么方法治疗最好？</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>朱春景</em>
					潍坊寒亭区人民医院
				</h6>

				<p>这个是一种退行性变，是损伤或是劳损造成的。 建议口服点腰痛宁胶囊，弥可保，塞来昔布胶囊。 建议不要一个姿势时间太久，经常变换姿势休息，平时可以自己按摩，或是热水袋理疗。 锻炼方法就是:平卧，尽量屈膝屈髋，双手抱胸，缓慢抬臀挺腰，到最高点停留5秒钟，再缓慢放下。来回往复30下。每天做两次。</p>
			</div>

		</a>

		<a href="/pc/qa/dQotDhZr2jpnCfblwaJkoA/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">有什么病最初发病的时候是往上吐的，感觉像有东西要吐出来一样，然后我使劲往肚子里灌水就硬把它压住了，以后就左手腋下窝到左胸乳头处一直不舒服像有气胀着的，左胸乳头下方肋骨处有时候会痛，症状严重时，不爱吃饭，感觉不消化，整个人晕晕乎乎的，每天都像快要倒下一样，心悸，不敢睡觉，做过胸透，心电图都正常，胃镜检查出浅表性胃炎，这到底是什么原因？</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>刘小平</em>
					北京中医药大学东方医院
				</h6>

				<p>您好。考虑您慢性浅表性胃炎及肋软骨炎诊断。建议清淡饮食，忌辛辣刺激，可服用硫糖铝混悬液，必要时外用扶他林涂抹肋骨疼痛处。放松辛勤和。仅供参考。</p>
			</div>

		</a>

		<a href="/pc/qa/u70nTYXZzCenZG-nXspqYg/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">我母亲今年68岁，腿膝盖肿疼，去医院说里面有积水，我不明白，请是什么原因，怎么冶疗</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>朱春景</em>
					潍坊寒亭区人民医院
				</h6>

				<p>老年人的关节积液是骨性关节炎或是滑膜炎的可能。 可以吃点消炎药。 吃点硫酸氨基葡萄糖胶囊和塞来昔布胶囊。 可以关节腔内注射玻璃酸钠看看。</p>
			</div>

		</a>

		<a href="/pc/qa/K9GBL6Nfmj42wPZTUH79jA/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">我颈椎到腰槯每时每刻都酸痛。站着，坐着，不到几分钟就要转下脖子了，脖子响了才舒服，腰的话要经常扭动才舒服，持续快两年了。这是什么病，能根治吗？服用什么药物可以根治，我主要想知道的是能不能根治</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>赵平厚</em>
					泰山医学院附属医院
				</h6>

				<p>你好，.请问：你的年龄和性别？这种情况多久了？做过什么检查？做过什么治疗？.请在两天之内详细介绍病情，以便于准确判断，更好的为你服务。 早晨起床前后有没有僵硬不灵活的感觉？ 响是韧带松弛，通过加强体育锻炼，增加肌肉力量会慢慢好转的。 另外需要检查明确有没有强直性脊柱炎。 你现在还不能肯定是不是强直性脊柱炎，不必要如此担心。..如果确诊了的话，必须采取综合性治疗，.加强锻炼，增强体质，是一项很重要的治疗措施。强直性脊柱炎目前没有根治的药物，不要有太多的心理负担，体质锻炼就是最好的药。.既来之，则安之，目前如果没有很痛的感觉的话可以不吃药；在疾病的急性期才可以用药物治疗，但不能有依赖药物的思想，一切以锻炼身体，多参加体育活动为主，这样就会生活快乐起来。没有特效药，也没有特效的其他方法。大部分只能缓解，不容易根治。.如果用药物的话可以考虑以下几类：.根据严重程度不同选择的药物不一样。.一、首先用非甾体消炎镇疼药如芬迪宁、尼美舒利、芬迪宁、阿斯匹林等等；.二、疼痛严重关节积液等等严重情况而且非甾体消炎镇疼药无效者应用肾上腺皮质激素（此类药物副作用太大不能应用太久）；.三、也可以免疫抑制剂；.四、中药，雷公藤制剂，生物制剂、钙剂、维生素等等。.五、急性活动期，应用抗菌素，如青霉素等等。.药物的选择必须在医生指导下进行。.严重畸形功能严重障碍的手术治疗。.以上仅供参考。 年纪轻轻。其他大部分疾病都能根治，其实强直性脊柱炎虽然不能根治也没有那么可怕。</p>
			</div>

		</a>

		<a href="/pc/qa/-Q4MgyTLfypc5k3qW1i2Rg/" class="hot-qa-item " target="_blank">

			<p class="hot-qa-user">去年九月份，不小心把脚崴到了，右脚向内侧扭伤，医院检查说韧带拉伤，没有给治疗，只是给了一个护踝，把脚固定住了，大约二十天后能下地走路，两个月后已经基本没什么影响，但现在当脚向外侧或者用力向后侧动时能感觉疼痛！肉眼能看出来还是比左边粗点，用手按压能感觉皮下比较硬，像骨头上有一层厚厚的硬膜，脚后边那根比较粗的筋外侧向内按压能感觉有个凸起地方明显疼痛感，比较喜欢玩户外，请问该怎样能尽快恢复，会不会有后遗症！谢谢</p>
			<div class="hot-qa-doctor">

				<h6>
					<em>张庆普</em>
					潍坊寒亭区人民医院
				</h6>

				<p>平常活动时，平常用护踝固定。 可以用护踝，如果疼可以用扶他林软膏，红花油外用。平时注意别再崴着，以免加重病情</p>
			</div>

		</a>-->

</div>

		<!--分页器-->


				<div class="pagebar">

		<a class="prev disabled" href="javascript:void(0)">上一页</a>

	<a class="page" href="javascript:void(0)" style="color: #2ec561">1</a>
                    <a class="page" href="javascript:void(0)">2</a>
                    <a class="page" href="javascript:void(0)">3</a>
	<a class="next" href="/pc/qalist/7/?page=2">下一页</a>
</div>



	</div>

</div>








<script type="text/javascript" src="http://media2.chunyuyisheng.com/@/static/pc/pkg/common/common_pkg_6c99336.js"></script>
<script type="text/javascript">/*resourcemap*/
</script>


<!--[if lte IE 8]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
<![endif]-->



	<script type="text/javascript" src="http://media2.chunyuyisheng.com/@/static/pc/js/seo/hot_qa_8b1a885.js"></script>

 <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c153f37e6f66b16b2d34688c92698e4b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


<div style="position: static; width: 0px; height: 0px; border: none; padding: 0px; margin: 0px;"><div id="trans-tooltip"><div id="tip-left-top" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-left-top.png&quot;);"></div><div id="tip-top" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-top.png&quot;) repeat-x;"></div>
    <div id="tip-right-top" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-right-top.png&quot;);"></div>
    <div id="tip-right" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-right.png&quot;) repeat-y;"></div>
    <div id="tip-right-bottom" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-right-bottom.png&quot;);"></div>
    <div id="tip-bottom" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-bottom.png&quot;) repeat-x;"></div><div id="tip-left-bottom" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-left-bottom.png&quot;);"></div>
    <div id="tip-left" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-left.png&quot;);"></div><div id="trans-content"></div></div><div id="tip-arrow-bottom" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-arrow-bottom.png&quot;);"></div>
    <div id="tip-arrow-top" style="background: url(&quot;chrome-extension://ikkbfngojljohpekonpldkamedehakni/imgs/map/tip-arrow-top.png&quot;);"></div>
</div>
</body>
</html>